.venv/
binary-venv/
.cache/
__pycache__/
*.pyc
.pytest_cache/
.ipynb_checkpoints/
data/raw/*.parquet
data/processed/*.parquet
data/features/*.parquet
data/datasets/*.parquet
outputs/models/*
outputs/predictions/*
outputs/metrics/*
outputs/figures/*
!outputs/models/.gitkeep
!outputs/models/lightgbm_model.pkl
!outputs/predictions/.gitkeep
!outputs/metrics/.gitkeep
!outputs/figures/.gitkeep
*.Zone.Identifier
